body {
  font-family: 'Gill Sans';
  background-color: #fafad2;
}
#header {
  height: 5vh;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: xx-large;
  padding-bottom: 20px;
  color: #1e90ff;
}
#nav-links {
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  font-size: xx-large;
}

span a {
  padding: 0px 10px 0px 10px;
  font-size: 15px;
}

h1 h2 h3 h4 h5 h6 {
  color: #1e90ff;
}

.auth span a {
  left: 200px;
  top: 0;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  background-color: #1e90ff;
}

#nav-logo {
  background-color: red;
  width: 50px;
}

p {
  height: 4px;
}
#post {
  text-align: center;
}
.post-title,
h2 {
  font-size: 60px;
  font-weight: bold;
  color: #1e90ff;
  text-align: center;
}

#seller,
.location {
  font-size: 40px;
}

.post-info {
  padding: 10px 10px 4px 4px;
  margin: 5px;
  box-shadow: 0px 8px;
  font-size: 40px;
}

#title-button {
  display: flex;
  color: #fff;
  justify-content: space-between;
  text-align: center;
}

button {
  background-color: #1e90ff;
  color: #fff;
  margin-bottom: 0px;
  padding-bottom: 5px;
  font-family: 'Gill Sans';
  font-size: 25px;
  font-weight: bold;
}

#posts-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input {
  height: 20px;
  font-family: 'Playfair Display', serif;
  font-family: 'Source Code Pro', monospace;
}

.description {
  font-size: 15px;
}

#new-post-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.page-title {
  color: #1e90ff;
  font-size: 3vw;
}

#inbox {
  background-color: #455050;
  margin-top: 0px;
  border-top-left-radius: 1.5px;
  border-top-right-radius: 1.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}

#message {
  height: 50%;
}

#message-content {
  height: max-content;
  background-color: purple;
  border-radius: 15px;
  width: fit-content;
  margin-left: 4px;
  padding-right: 5px;
}

#sender {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25vw;
  border-radius: 0px;
  margin-left: 4px;
  margin-right: 5px;
}

#inbox-span {
  background-color: gray;
  float: left;
  border-radius: 1.5px;
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  margin-left: 50px;
  margin-right: 50px;
}

#user-posts {
  float: right;
  margin-top: 0px;
  margin-right: 30px;
}

.profile-body {
  background-color: rgb(234, 230, 236);
  text-align: start;
}
